{!doctype css}

body {
  background:black;
  align-items:left;
  border-top;
}

h1 {
  color:royalblue;
  font-family: cursive;
  padding: 15px
  }

h2 {
  color:green;
}

a {
 color:grey;
  }

.intro {

  }

.image {
  width: 50%
}

.content {
  
  }

.footer {
  font-family: monospace;
  padding-top: 15%;
}
