{!doctype css}

body {
  background:black;
  color:white;
  align-items:left;
  border-top;
}

h1 {
  color:royalblue;
  font-family: cursive;
  padding: 15px
  }

a {
 color:Grey;
  }

.intro {

  }

.image {
  width: 50%
}

.content {
  text-decoration-color: grey;
  }

.footer {
  font-family: monospace;
  padding-top: 15%;
}
